.container {
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    width: 100%;
    border-radius: 3px;
}


.lecturer{
    background-color:white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    width: 50%;
    height: 30%;
    left: 2%;
    bottom: 2%;

}

.pe {

    font-family: Arial, sans-serif;  /* Sets the font family */
    font-size: 100%;                 /* Sets the font size */
    font-weight: bold;               /* Makes the text bold */
    color: #333;                     /* Sets the text color */
    text-align:left;              /* Centers the text horizontally */
    line-height: 1.5;                /* Adjusts the line height for readability */
    text-transform: uppercase;       /* Transforms text to uppercase */
    letter-spacing: 1px;             /* Adjusts space between letters */
    text-decoration:wavy;  /* Underlines the text */
    position: relative;
    left: 10px;
    padding: 0.7%;
    
    .input {
        width: 60%;
        position: absolute;
        left: 30%; 
        height: 86%; 
        background-color: rgb(240, 239, 239);
        border: none;
        border-radius: 3px;
    }
    
}

.courses{
    background-color: white;
    position: absolute;
    height:96%;
    border-radius: 5px;
    top: 1.5%;
    right: 1%;
    width: 46%;
    overflow-y: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

.lecturers{
    background-color: white;
    position: absolute;
    height: 65%;
    width: 50%;
    left: 2%;
    top: 1.5%;
    border-radius: 5px;
    overflow-y: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sub {
    position: relative;
    width: 20%;
    height: 20%;
    border-radius: 5px;
    color: black;
    background-color: rgb(89, 181, 95);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    cursor: pointer;
    left: 40%;
}