.container {
  background-color: white;
  width: 50%;
  position: relative;
  top: 20vh;
  height: 80vh;
  border-radius: 3px;
}

.profile_image {
  background-attachment: white;
  width: 40%;
  height: 20%;
  border-radius: 3px;
  position: absolute;
  left: 30%;
  top:2%
}

.myform {
  background-color: white;
  width: 51%;
  height: 100vh;
  position: absolute;
  left: 51%;
  top: 0px;
  border-radius: 3px;
}

.lsubmit_button {
  background-color: red;
  color: white;
  border-radius: 3px;
  border-bottom: 5px;
  position: absolute;
  bottom: 10px;
  left: 40%;

}

.lclear_button {
  background-color: black;
  color: white;
  border-radius: 3px;
  border-bottom: 5px;
  position: absolute;
  bottom: 10px;
  left: 5%;
}

.rsubmit_buttons {
  background-color: red;
  color: white;
  border-radius: 3px;
  border-bottom: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.select {
  position: relative;
  display: flex;
  height: 25px;
  width: 250px;
  font-size: 10px;
  border-radius: 5px;
}
.myoption{
    font-size: 15px ;
  }
.textarea {
  position: absolute;
  left: 10px;
  bottom: 34px;
  width: 350px;
}

h5 {
  position:absolute;
  right: 10px;
}

.issue {
  position: absolute;
  top: 30px;
}